* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
  }
.section{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    -ms-grid-columns: 20% 60% 20%;
      /* grid-template-columns: 20% 60% 20%; */
}
section #array_container {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    margin: 10%;
    margin-top: 0px;
    width: 80%;
    height: 35vh;
  }

.hide {
    display: none;
  }